<div class="content">

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col animated fadeIn fast" *ngFor="let nike of nike; let i = index">
            <div class="card h-100">
                <img [src]="nike.img" class="card-img-top" [alt]="nike.nombre">
                <div class="card-body">
                    <h5 class="card-title">{{nike.nombre}}</h5>
                    <p class="card-text"> ${{nike.value}}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">{{nike.marca}}</small>
                </div>
                <button (click)="verNike(i);" class="btn btn-outline-primary">Ver más......</button>
                <!-- <a [routerLink]="['/heroe',i]" class="btn btn-outline-primary">ver más..</a> -->
            </div>
        </div>
    </div>

</div>