<div class="content">

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col animated fadeIn fast" *ngFor="let adida of adidas; let i = index">
            <div class="card h-100">
                <img [src]="adida.img" class="card-img-top" [alt]="adida.nombre">
                <div class="card-body">
                    <h5 class="card-title">{{adida.nombre}}</h5>
                    <p class="card-text"> ${{adida.value}}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">{{adida.marca}}</small>
                </div>
                <button (click)="verAdida(i);" class="btn btn-outline-primary">Ver más......</button>
                <!-- <a [routerLink]="['/heroe',i]" class="btn btn-outline-primary">ver más..</a> -->
            </div>
        </div>
    </div>

</div>